<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>722844387455-6q7kfih3hh815b2ht51dcp7pg7b7po5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722844387455-6q7kfih3hh815b2ht51dcp7pg7b7po5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDttJ8Z0_UmRob1QTm4iOSGOB5dqUn5RtI</string>
	<key>GCM_SENDER_ID</key>
	<string>722844387455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.girish.VenEcon</string>
	<key>PROJECT_ID</key>
	<string>venezuela-econ</string>
	<key>STORAGE_BUCKET</key>
	<string>venezuela-econ.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:722844387455:ios:135e103ac69e2a6d</string>
	<key>DATABASE_URL</key>
	<string>https://venezuela-econ.firebaseio.com</string>
</dict>
</plist>